#container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 4rem;
    background: white;
    display: flex;
    justify-content: flex-end;
}

#userDetails{
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#userDetails > *:not(:last-child){
    margin-right: 0.275rem;
}