:host {
    display: flex;
    justify-content: center;
}

#login {
    display: flex;
}

#login > *:not(:last-child){
    margin-right: 0.4rem;
}

#loginOrRegister {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#register {
    margin-top: 0.675rem;
}